.modal{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.841);
    display:none;
    justify-content:center;
    align-items:center;
    transition: slide 2s ease;
}

@keyframes slide{
    to{
        transform: rotateX('0');
    }
    100%{
        transform: translateX('180degree');
    }
}

.modal-content{
    width:85%;
    background:#80848a15;
    padding:20px;
    border-radius:10px;
}

.modal-content h3{
    margin-bottom:10px;
}

.floating-text{
    position: absolute;
    font-size: 2rem;
}

.modal-content input{
    width:100%;
    padding:8px;
    margin-bottom:15px;
    border:none;
    border-radius:6px;
    outline: none;
}

.save-btn{
    width:100%;
    padding:10px;
    border:none;
    border-radius:6px;
    background:#00738d;
    color:white;
    cursor:pointer;
}
.nav{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  width:100%;
  padding:10px;
  position:absolute;
  top:0;
}

.settings-btn{
  font-size:2rem;
  cursor:pointer;
  color:#ddd;
  margin-right:1rem;
}
.btn-area{
  position:fixed;
  bottom:80px;
  width:100%;
  display:flex;
  justify-content:center;
  padding:15px;
}

#fingertouch{
  font-size:4rem;
  color:#cccccc76;
  cursor:pointer;
}

.reset-btn{
  position:absolute;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  padding:8px 20px;
  background:hsla(0,100%,1%,0.092);
  border:none;
  color:#ccc;
  border-radius:8px;
  cursor:pointer;
}

.floating-text{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  font-size:16px;
  animation:jump 1s ease forwards;
}

@keyframes jump{
  0%{ top:200px; opacity:1; }
  100%{ top:-100px; opacity:0; }
}
.slider{
  display:flex;
  width:90%;
  height:150px;
  overflow:hidden;
  position:absolute;
  border-radius:12px;
  top:2rem;
}

.slides{
  display:flex;
  height:100%;
  transition:transform .5s ease;
}

.slides img{
  width:100%;
  height:100%;
  object-fit:cover;
  flex-shrink:0;
}
.bgset{
  display:flex;
  flex-direction:column;
  margin-top:2rem;
  width:200px;
  gap:.8rem;
}

.bgset h2{
  font-size:16px;
}

.bgset label{
  font-size:12px;
}

#bgremove{
  background-color:var(--muted);
  padding:4px;
  font-size:10px;
}

